.musicContainer {
  margin: 10px 0 10px;
}

.musicDiv {
  display: flex;
  flex-direction: row;
}

.stop {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #efefef;
}
