@mixin notSelectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pomodoro {
  height: 100vh;
  width: 100vw;
  @include flexCenter();
}

.container {
  min-width: 35vw;
  padding: 30px;
  @include flexCenter();
  flex-direction: column;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 20px;
  @media screen and (max-width: 800px) {
    padding: 10px;
    width: 85vw;
  }
  @media screen and (max-width: 450px) {
    padding: 10px;
    margin-top: -100px;
  }
}

.linksDiv {
  @include flexCenter();
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
  // top: 20px;
  width: 100%;
  border: 1px solid green;
}

.link {
  margin: 3%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2.5vh;
  color: white;
  @media screen and (max-width: 800px) {
    font-size: 2vh;
  }
  @include notSelectable();
}

.timerDiv {
  border: 1px solid red;
  @include flexCenter();
  width: 100%;
  color: white;
  font-weight: bold;
  @media screen and (max-width: 800px) {
    font-size: 20vw;
  }
  @include notSelectable();
}

.btnDiv {
  border: 1px solid blue;
  @include flexCenter();
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.startBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 20px 10px;
  border-radius: 5px;
  font-size: 3vh;
  background-color: rgb(241, 241, 241);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: rgb(230, 230, 230);
  }
  @media screen and (max-width: 800px) {
    font-size: 2vh;
  }
  @include notSelectable();
}
