.pomodoro {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 50vw;
  height: 50vh;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: default;
  overflow: hidden;
}

@media screen and (min-width: 2500px) {
  .container {
    width: 50vw;
    height: 50vh;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 50vw;
    height: 50vh;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 80vw;
    height: 50vh;
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 80vw;
    height: 50vh;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 80vw;
    height: 30vh;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 80vw;
    height: 45vh;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 3;
  color: white;
}

@media screen and (max-width: 450px) {
  .links {
    width: 70vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 4vh;
  }
}

.link {
  margin: 30px;
  font-size: 2vw;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 678px) {
  .link {
    margin: 10px;
  }
}

@media screen and (max-width: 450px) {
  .link {
    font-size: 4vw;
    margin: 10px;
    padding: 5px;
  }
}

.timerDiv {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer {
  z-index: 2;
  position: relative;
  font-size: 11vw;
  font-weight: bold;
  text-align: center;
  color: white;
}

@media screen and (max-width: 450px) {
  .timer {
    font-size: 70px;
    top: -10px;
  }
}

.startBtn {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: #d0d0d0;
  cursor: pointer;
  font-size: 2vw;
  font-weight: bold;
  z-index: 3;
}

@media screen and (max-width: 450px) {
  .startBtn {
    font-size: 4vw;
    padding: 15px;
    bottom: 10vw;
  }
}

.startBtn:hover {
  background-color: #bdbdbd;
}
/*# sourceMappingURL=Pomodoro.module.css.map */