$xxl: 2500px;
$xl: 1400px;
$l: 1200px;
$m: 850px;
$s: 600px;
$phone: 450px;

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pomodoro {
  height: 100vh;
  width: 100vw;
  @include flexCenter();
}

.container {
  width: 50vw;
  height: 50vh;
  z-index: 3;
  @include flexCenter();
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: default;
  overflow: hidden;
  @media screen and (min-width: $xxl) {
    width: 50vw;
    height: 50vh;
  }
  @media screen and (max-width: $xl) {
    width: 50vw;
    height: 50vh;
  }
  @media screen and (max-width: $l) {
    width: 80vw;
    height: 50vh;
  }
  @media screen and (max-width: $m) {
    width: 80vw;
    height: 50vh;
  }
  @media screen and (max-width: $s) {
    width: 80vw;
    height: 30vh;
  }
  @media screen and (max-width: $phone) {
    width: 80vw;
    height: 45vh;
  }
}

.links {
  @include flexCenter();
  flex-direction: row;
  position: relative;
  // top: 40px;
  z-index: 3;
  color: white;
  @media screen and (max-width: $phone) {
    width: 70vw;
    flex-wrap: wrap;
    top: 4vh;
  }

}

.link {
  margin: 30px;
  font-size: 2vw;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  @media screen and (max-width: 678px) {
    margin: 10px;
  }
  @media screen and (max-width: $phone) {
    font-size: 4vw;
    margin: 10px;
    padding: 5px;
  }
}

.timerDiv {
  width: 100%;
  height: 20vh;
  @include flexCenter();
}

.timer {
  z-index: 2;
  position: relative;
  font-size: 11vw;
  font-weight: bold;
  text-align: center;
  color: white;
  @media screen and (max-width: $phone) {
    font-size: 70px;
    top: -10px;
  }
}

.startBtn {
  position: relative;
  padding: 20px;
  // bottom: 10%;
  border-radius: 10px;
  background-color: rgb(208, 208, 208);
  cursor: pointer;
  font-size: 2vw;
  font-weight: bold;
  z-index: 3;
  @media screen and (max-width: $phone) {
    font-size: 4vw;
    padding: 15px;
    bottom: 10vw;
  }
  &:hover {
    background-color: rgb(189, 189, 189);
  }
}
