.imageContainer {
  height: 115px;
  width: 165px;
  margin: 9px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.spinner {
  z-index: 100;
  position: relative;
  top: -70px;
  left: 67px;
}
