html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

#layout {
  height: 100vh;
  width: 100vw;
}

.inactiveLink {
  color: rgb(235, 235, 235);
}

.activeLink {
  font-weight: bold;
  color: white;
}

.activePomLink {
  background-color: rgb(66, 66, 92);
  padding: 5px;
  color: rgb(231, 231, 231);
}

.activePomLink:hover {
  color: rgb(231, 231, 231);
}

.fs {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  right: 140px;
  top: 8px;
  z-index: 2;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.1s ease-in;

  @media screen and (max-width: 950px) {
    display: none;
  }
  &:hover {
    color: rgb(255, 251, 251);
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.fsText {
  margin-left: 10px;
}

.modal {
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

#youtube-player {
  display: block;
}
