.aboutContainer {
  display: flex;
  justify-content: center;
  position: relative;
  height: 60px;
  background-color: rgb(34, 34, 34);
}

.aboutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgba(248, 248, 248, 0.349);
  padding: 3px 10px;
  margin: -5px 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.infoModal {
  width: 100vw;
}

.modalDiv a {
  text-decoration: none;
  color: rgb(21, 59, 102);
}

.modalDiv div {
  margin-top: 15px;
}

.modalBtn {
  background-color: rgb(184, 184, 184);
  color: black;
  border: none;
  &:hover {
    color: black;
    background-color: rgb(160, 160, 160);
  }
}

.emailDiv {
  padding: 10px;
  background-color: rgb(21, 59, 102);
  border-radius: 5px;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  color: white;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: rgb(18, 42, 70);
  }
}

.emailBtn {
  text-decoration: none;
  &:hover {
    color: white;
  }
}
