.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loginBtn {
  position: relative;
  height: 38px;
  // width: 80px;
  border-radius: 5px;
  background: #efefef;
  border: none;
  // margin-left: 10px;
  font-size: 15px;
  border: 0.1px solid rgb(168, 168, 168);
  transition: 0.3s ease-in-out;
  &:hover {
    background: #dddddd;
  }
}

.accordionBody {
  max-height: 300px;
  overflow: scroll;
  padding: 0;
}

.trackContainer {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  transition: 0.1s ease-in;
  cursor: pointer;
  &:hover {
    background-color: #f3f3f3;
  }
}

.trackImg {
  height: 64px;
  width: 64px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.textCol {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-left: 5px;
  justify-content: center;
  .title {
    font-size: 14px;
  }

  .artist {
    font-size: 10px;
  }
}

.duration {
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.signInContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
