.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.youtube {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.16);
  @media screen and (max-width: 450px) {
    align-items: flex-end;
    padding-bottom: 150px;
  }
}

.sideBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  margin-left: -350px;
  padding-right: 10px;
  width: 380px;
  height: 195px;
  overflow: hidden;
  border-radius: 15px;
  background-color: rgba(180, 180, 180, 0.596);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 50;
  &:hover {
    margin-left: -10px;
  }
  @media screen and (max-width: 450px) {
    margin-left: -350px;
    &:hover {
      margin-left: -10px;
    }
  }
}

.chooseMusic {
  position: absolute;
  z-index: 100;
  width: 350px;
  height: 200px;
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
