.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.settingsDiv {
  border: none;
}

.settings {
  color: #f8f8f8;
  overflow-x: hidden;
  border: none;
}

.body {
  background-color: #222222;
  overflow-x: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.settingsTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.topLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settingsTitle {
  font-size: 30px;
}

.profileIcon {
  position: relative;
  margin-top: 3px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.x {
  position: relative;
  margin-top: 6px;
  height: 30px;
  border-radius: 5px;
  background-color: #efefef;
}

.pomodoro {
  width: 70px;
}

.shortbreak {
  width: 70px;
}

.longbreak {
  width: 70px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 15px 0 15px;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

.subDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.loginBtn {
  width: 100px;
}

.logoutBtn {
  width: 100px;
}

.greeting {
  width: 100%;
  padding-bottom: 5px;
  font-size: 25px;
}

.modalBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.brightness {
  width: 100%;
  margin: 10px 0 20px;
  font-size: 18px;
}

.sliderDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.brightnessSlider {
  width: 90%;
  margin-right: 18px;
}

.indicator {
  font-size: 16px;
  width: 10%;
}

.timers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 18px;
  margin-bottom: 20px;
}

.timerLabel {
  font-size: 15px;
}

.pomodoro {
  width: 26%;
  margin-right: 6px;
}

.shortbreak {
  width: 26%;
  margin-right: 6px;
}

.longbreak {
  width: 26%;
  margin-right: 10px;
}

.resetBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 55px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #efefef;
}

.autoStart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}

.timeFormat {
  margin-bottom: 10px;
}

.showSeconds {
  margin: 10px 0 10px;
}

.blur {
  margin: 10px 0 10px;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alertContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert {
  font-size: 18px;
  margin-bottom: 10px;
  width: 90%;
  margin-right: 10px;
}

.previewBtn {
  position: relative;
  top: 11px;
  height: 38px;
  width: 80px;
  border-radius: 5px;
  background: #efefef;
  text-align: center;
}

.font {
  font-size: 18px;
  margin-bottom: 10px;
}

.music {
  margin: 10px 0 20px;
}

.musicDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.stop {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about {
  position: fixed;
  bottom: 10px;
  font-size: 20px;
  background-color: rgba(248, 248, 248, 0.349);
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.infoModal {
  width: 100vw;
}

.modalDiv a {
  text-decoration: none;
  color: #153b66;
}

.modalDiv div {
  margin-top: 15px;
}

.emailDiv {
  padding: 10px;
  background-color: #153b66;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.emailDiv:hover {
  background-color: #122a46;
}

.emailBtn {
  text-decoration: none;
}

.emailBtn:hover {
  color: white;
}

.modalBtn {
  background-color: white;
  color: #153b66;
}

.modalBtn:hover {
  color: white;
  background-color: #153b66;
}
/*# sourceMappingURL=Settings.module.css.map */