.form {
  display: flex;
  flex-direction: row;
}

.settingsDiv {
  background-color: rgba(255, 255, 255, 0);
}

.settings {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: rgb(248, 248, 248);
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0);
}

.body {
  background-color: rgb(34, 34, 34);
  overflow-x: hidden;
  margin: 10px;
  border-radius: 10px;
}

.settingsTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.x {
  position: relative;
  top: 5px;
  height: 30px;
  border-radius: 5px;
  background-color: #efefef;
}

.pomodoro {
  width: 70px;
}

.shortbreak {
  width: 70px;
}

.longbreak {
  width: 70px;
}

.login {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.loginLink {
  font-size: 18px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.brightness {
  width: 100%;
  margin: 10px 0 20px;
  // margin-bottom: 20px;
  font-size: 18px;
}

.sliderDiv {
  display: flex;
  flex-direction: row;
}

.brightnessSlider {
  width: 90%;
  margin-right: 18px;
}

.indicator {
  font-size: 16px;
  width: 10%;
}

.timers {
  display: flex;
  flex-direction: row;
  // justify-content: space-evenly;
  font-size: 18px;
  margin-bottom: 20px;
}

.timerLabel {
  font-size: 15px;
}

.pomodoro {
  width: 26%;
  margin-right: 6px;
}

.shortbreak {
  width: 26%;
  margin-right: 6px;
}

.longbreak {
  width: 26%;
  margin-right: 10px;
}

.resetBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 55px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #efefef;
}

.autoStart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}

.timeFormat {
  margin-bottom: 10px;
}

.showSeconds {
  margin: 10px 0 10px;
}

.blur {
  margin: 10px 0 10px;
}

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
}

.toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alertContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.alert {
  font-size: 18px;
  margin-bottom: 10px;
  width: 90%;
  margin-right: 10px;
}

.previewBtn {
  position: relative;
  top: 11px;
  height: 38px;
  width: 80px;
  border-radius: 5px;
  background: #efefef;
  text-align: center;
}

.font {
  font-size: 18px;
  margin-bottom: 10px;
}

.music {
  margin: 10px 0 20px;
}

.musicDiv {
  display: flex;
  flex-direction: row;
}

.stop {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}
