.settingsDiv {
  border: none;
}

.settings {
  color: #f8f8f8;
  border: none;
  overflow-x: hidden;
}

.body {
  background-color: #222222;
  overflow-x: hidden;
  margin: 0;
}

.subBody {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.subBody::-webkit-scrollbar {
  display: none;
}

.settingsTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-bottom: 20px;
}

.topLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settingsTitle {
  font-size: 30px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.x {
  position: relative;
  margin-top: 6px;
  padding: 10px;
  border-radius: 5px;
  background-color: #efefef;
  border: 0.1px solid #a8a8a8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.x:hover {
  background: #dddddd;
}

.toggleRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.toggleLabel {
  margin-right: 6px;
}

.font {
  font-size: 18px;
  margin-bottom: 10px;
}

.sliderDiv {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slider {
  width: 90%;
  margin-right: 18px;
}

.volumeDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0 5px;
  font-size: 18px;
}

.settingModuleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 15px 10px 10px;
  background-color: #fff;
  border-radius: 10px;
  color: black;
  margin-bottom: 20px;
}
/*# sourceMappingURL=Settings.module.css.map */