$phone: 450px;
$s: 600px;
$m: 850px;
$l: 1200px;
$xl: 1400px;
$xxl: 2500px;

.container {
  padding: 1vw 3vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: default;
  @media screen and (max-width: $s) {
    margin-top: -200px;
  }
  @media screen and (max-width: $phone) {
    margin-top: -200px;
  }
}
