.body {
  z-index: 20;
  width: 400px;
  height: 100vh;
  backdrop-filter: blur(20px);
  background-color: rgba(199, 181, 161, 0.282);
  overflow-x: hidden;
  overflow-y: scroll;
  border-top-left-radius: 10px;
  padding: 20px;
}

.body::-webkit-scrollbar {
  display: none;
}

.settings {
  color: rgb(248, 248, 248);
  padding-bottom: 40px;
}

.settingsTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
}

.topLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settingsTitle {
  font-size: 30px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  color: white;
}

.x {
  position: relative;
  margin-top: 6px;
  padding: 10px;
  border-radius: 5px;
  background-color: #efefef;
  border: 0.1px solid rgb(168, 168, 168);
  transition: 0.3s ease-in-out;
  &:hover {
    background: #dddddd;
  }
}

.toggleRow {
  display: flex;
  flex-direction: row;
}

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.toggleLabel {
  margin-right: 6px;
}

.font {
  font-size: 18px;
  margin-bottom: 10px;
}

.sliderDiv {
  width: 99%;
  display: flex;
  flex-direction: row;
}

.slider {
  // width: 90%;
  width: 275px;
  margin-right: 20px;
}

.volumeDiv {
  display: flex;
  flex-direction: column;
  margin: 5px 0 5px;
  font-size: 18px;
}

.settingModuleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 10px 10px;
  background: rgba(45, 74, 122, 0.447);
  // background: linear-gradient(315deg, rgba(45, 75, 122, 0.6433167016806722) 0%, rgba(232, 232, 236, 1) 100%);
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
}
