@mixin noSelect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  .text {
    @include noSelect;
    font-size: 18px;
  }
  .btn {
    position: relative;

    border-radius: 5px;
    background: #efefef;
    border: none;
    margin-left: 10px;
    font-size: 15px;
    border: 0.1px solid rgb(168, 168, 168);
    transition: 0.3s ease-in-out;
    &:hover {
      background: #dddddd;
    }
  }
}

.recentWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  .videoResult {
    margin-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    width: 48%;
    height: 120px;
    transition: 0.2 ease-in;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .imgWrapper {
      width: 100%;
      height: 100%;
      position: relative;

      &:hover .closeBtn {
        visibility: visible;
      }

      .liveIndicator {
        position: absolute;
        bottom: 5px;
        right: 10px;
        color: red;
        font-weight: bold;
      }

      .closeBtn {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 20px;
        width: 20px;
        filter: invert(1);
        visibility: hidden;
        transition: 0.1s ease-in;

        &:hover {
          height: 21px;
          width: 21px;
        }
      }

      &:hover .inactiveStar {
        visibility: visible;
      }
      .inactiveStar {
        visibility: hidden;
        position: absolute;
        top: -5px;
        left: 5px;
        margin: 5px;
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
      .activeStar {
        position: absolute;
        top: -5px;
        left: 5px;
        margin: 5px;
        color: white;
        font-size: 20px;
        font-weight: bold;
      }

      .typeOverlay {
        position: absolute;
        bottom: 0;
        left: -10px;
        background-color: rgba(255, 255, 255, 0.658);
        border-radius: 5px;
        .text {
          margin: 0px 10px 3px 20px;
          font-size: 12px;
          font-weight: bold;
        }
      }
      .thumbnail {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
    .textWrapper {
      padding: 10px;
      display: flex;
      flex-direction: column;
      .title {
        font-weight: bold;
      }
    }
  }

  .imageResult {
    margin-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    width: 48%;
    height: 120px;
    transition: 0.2 ease-in;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .imgWrapper {
      width: 100%;
      height: 100%;
      position: relative;
      &:hover .inactiveStar {
        visibility: visible;
      }
      .inactiveStar {
        visibility: hidden;
        position: absolute;
        top: -5px;
        left: 5px;
        margin: 5px;
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
      .activeStar {
        position: absolute;
        top: -5px;
        left: 5px;
        margin: 5px;
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
      &:hover .closeBtn {
        visibility: visible;
      }

      .closeBtn {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 20px;
        width: 20px;
        filter: invert(1);
        visibility: hidden;
        transition: 0.1s ease-in;

        &:hover {
          height: 21px;
          width: 21px;
        }
      }

      .typeOverlay {
        position: absolute;
        bottom: 0;
        left: -10px;
        background-color: rgba(255, 255, 255, 0.658);
        border-top-right-radius: 5px;
        .text {
          margin: 0px 10px 3px 15px;
          font-size: 12px;
          font-weight: bold;
        }
      }
      .thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
