.imageContainer {
  height: 115px;
  width: 45%;
  margin: 7px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  cursor: pointer;

  &:hover .inactiveStar {
    visibility: visible;
  }

  .inactiveStar {
    z-index: 5;
    visibility: hidden;
    position: absolute;
    top: -5px;
    right: 5px;
    margin: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .activeStar {
    z-index: 5;
    position: absolute;
    top: -5px;
    right: 5px;
    margin: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.spinner {
  z-index: 100;
  position: relative;
  top: -70px;
  left: 67px;
}
