@mixin notSelectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.nav {
  height: 60px;
  z-index: 2;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.mainLinks {
  display: flex;
  z-index: 2;
  position: relative;
  justify-content: center;
}

.line {
  font-size: 25px;
  margin-top: 20px;
  cursor: default;
  z-index: 2;
  color: white;
  @media screen and (max-width: 600px) {
    font-size: 18px;
    margin-top: 10px;
  }
  @media screen and (max-width: 400px) {
    font-size: 15px;
    margin-top: 10px;
  }
  @include notSelectable();
}

.link {
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
  z-index: 2;
  transition: 0.1s ease-in;
  &:hover {
    color: rgb(255, 255, 255);
  }

  @media screen and (max-width: 600px) {
    font-size: 18px;
    margin: 10px;
  }
  @media screen and (max-width: 400px) {
    font-size: 15px;
    margin: 10px;
  }
  @include notSelectable();
}

.settings {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  right: 20px;
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.1s ease-in;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.settingsWord {
  margin-left: 10px;
  display: block;
  @media screen and (max-width: 950px) {
    display: none;
  }
  @include notSelectable();
}

.settingsIcon {
  color: white;
  &:hover {
    color: rgb(255, 251, 251);
  }
}

.menuIcon {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.fullscreen {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes slidein {
  0% {
    left: 10px;
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    left: 70px;
    opacity: 100%;
  }
}

.weatherContainer {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.377);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0.247);
  }
  @media screen and (max-width: 740px) {
    top: 75px;
    height: 0;
    right: -15px;
    background-color: none;
    text-align: right;
  }
  @include notSelectable();
}

.weatherIcon {
  display: block;
  position: relative;
  top: 10px;
  width: 100px;
  height: 100px;
  @media screen and (max-width: 740px) {
    display: none;
  }
}

.weatherRight {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-right: 10px;
  :nth-child(1) {
    font-weight: bold;
  }
  .lastUpdated {
    font-size: 10px;
    color: rgb(197, 197, 197);
  }
}

.refresh {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 5px;
  margin: 3px;
  .refreshIcon {
    width: 15px;
    height: 15px;
    filter: invert(1);
  }
}
