@charset "UTF-8";
.nav {
  height: 50px;
  z-index: 2;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.mainLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line {
  font-size: 25px;
  margin-top: 20px;
  cursor: default;
  z-index: 2;
  color: white;
}

@media screen and (max-width: 600px) {
  .line {
    font-size: 18px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .line {
    font-size: 15px;
    margin-top: 10px;
  }
}

.link {
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
  z-index: 2;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.link:hover {
  color: white;
}

@media screen and (max-width: 600px) {
  .link {
    font-size: 18px;
    margin: 10px;
  }
}

@media screen and (max-width: 400px) {
  .link {
    font-size: 15px;
    margin: 10px;
  }
}

.settings {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  right: 20px;
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.settings:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.settingsWord {
  margin-left: 10px;
  display: block;
}

@media screen and (max-width: 950px) {
  .settingsWord {
    display: none;
  }
}

.settingsIcon {
  color: white;
}

.settingsIcon:hover {
  color: #fffbfb;
}

.menuIcon {
  width: 20px;
  height: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.fullscreen {
  width: 20px;
  height: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes slidein {
  0% {
    left: 10px;
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    left: 70px;
    opacity: 100%;
  }
}

@keyframes slidein {
  0% {
    left: 10px;
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    left: 70px;
    opacity: 100%;
  }
}

.recordDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .recordDiv {
    top: 60px;
  }
}

.recordDiv:hover::after {
  content: "Press to stop music";
  position: absolute;
  -webkit-animation: slidein 0.5s ease-in-out;
          animation: slidein 0.5s ease-in-out;
  left: 70px;
  top: 17px;
  color: white;
  width: 220px;
}

.recordDiv2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.recordDiv2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  margin: 10px;
}

.recordDiv2:hover::after {
  content: "Press to play random music ♫";
  position: absolute;
  -webkit-animation: slidein 0.5s ease-in-out;
          animation: slidein 0.5s ease-in-out;
  left: 70px;
  top: 17px;
  color: white;
  width: 220px;
}

@media screen and (max-width: 450px) {
  .recordDiv2 {
    top: 60px;
  }
}

.record {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: spinner 3s linear infinite;
          animation: spinner 3s linear infinite;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.record2 {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.weatherContainer {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.103);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.weatherContainer:hover {
  background-color: rgba(0, 0, 0, 0.247);
}

@media screen and (max-width: 450px) {
  .weatherContainer {
    top: 85px;
    height: 0;
    right: -15px;
    background-color: none;
    text-align: right;
  }
}

.weatherIcon {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 450px) {
  .weatherIcon {
    display: none;
  }
}

.weatherRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  padding-right: 10px;
}

.weatherRight :nth-child(1) {
  font-weight: bold;
}

.weatherRight .lastUpdated {
  margin-top: 5px;
  font-size: 8px;
  color: #c5c5c5;
}

.refresh {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 5px;
  margin: 3px;
}

.refresh .refreshIcon {
  width: 15px;
  height: 15px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
/*# sourceMappingURL=Navbar.module.css.map */