.nav {
  height: 100px;
  z-index: 2;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainLinks {
  display: flex;
  z-index: 2;
  position: relative;
  justify-content: center;
}

.line {
  font-size: 25px;
  margin-top: 20px;
  cursor: default;
  z-index: 2;
}

.link {
  text-decoration: none;
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  margin: 20px;
  font-size: 25px;
  z-index: 2;
  transition: 0.1s ease-in;
  &:hover {
    color: rgb(113, 106, 106);
  }
}

.settings {
  position: absolute;
  right: 60px;
  top: 45px;
  cursor: pointer;
}
