.spotifyPlayer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .innerSpotify {
    width: 30%;

    @media screen and (max-width: 800px) {
      width: 50%;
    }
    @media screen and (max-width: 450px) {
      width: 95%;
    }
  }
}
