.container {
  z-index: 2;
  width: 1300px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  background-color: rgba(245, 245, 245, 0.7);
}

.time {
  font-size: 200px;
  position: absolute;
  font-weight: bold;
}