$phone: 450px;
$s: 600px;
$m: 850px;
$l: 1200px;
$xl: 1400px;
$xxl: 2500px;

.container {
  width: 1200px;
  height: 400px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.5);
  @media screen and (min-width: $xxl) {
    width: 2200px;
    height: 700px;
  }
  @media screen and (max-width: $xl) {
    width: 85vw;
    height: 400px;
  }
  @media screen and (max-width: $l) {
    width: 90vw;
    height: 400px;
  }
  @media screen and (max-width: $m) {
    width: 90vw;
    height: 400px;
  }
  @media screen and (max-width: $s) {
    width: 90vw;
    height: 400px;
  }
  @media screen and (max-width: $phone) {
    width: 90vw;
    height: 300px;
  }
}

.time {
  font-size: 235px;
  position: absolute;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  @media screen and (min-width: $xxl) {
    font-size: 400px;
  }
  @media screen and (max-width: $xl) {
    font-size: 200px;
  }
  @media screen and (max-width: $l) {
    font-size: 150px;
  }
  @media screen and (max-width: $m) {
    font-size: 100px;
  }
  @media screen and (max-width: $s) {
    font-size: 80px;
  }
  @media screen and (max-width: $phone) {
    font-size: 65px;
  }
}