.container {
  z-index: 2;
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.5);
}

.time {
  font-size: 250px;
  position: absolute;
  font-weight: bold;
}
