html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  background-color: black;
}

#layout {
  height: 100vh;
  opacity: 100%; /* Change this to change the brightness */
}

.activeLink {
  font-weight: bold;
  font-size: 30px;
}