html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

#layout {
  height: 100vh;
  opacity: 100%; /* Change this to change the brightness */
}

.activeLink {
  font-weight: bold;
}

.activePomLink {
  background-color: rgb(66, 66, 92);
  padding: 5px;
  color: rgb(231, 231, 231);
}

.activePomLink:hover {
  color: rgb(231, 231, 231);
}

.fs {
  position: absolute;
  display: block;
  font-size: 25px;
  bottom: 0;
  right: 40px;
  z-index: 2;
  padding: 20px;
  cursor: pointer;
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  font-weight: bold;
}

.fs:hover {
  color:rgb(255, 251, 251);
}

@media only screen and (max-width: 600px) {
  .fs {
    display: none;
  }
}