@mixin button {
    position: relative;
    height: 38px;
    // width: 80px;
    border-radius: 5px;
    background: #efefef;
    border: none;
    margin-left: 10px;
    font-size: 15px;
    border: 0.1px solid rgb(168, 168, 168);
    transition: 0.3s ease-in-out;
    &:hover {
        background: #dddddd;
    }
}

.container {
    z-index: 2;

    .btnDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .loadBtn {
            @include button;
            width: 100px;
            margin-top: 5px;
        }
    }
}

.suggestionWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .text {
        font-size: 12px;
        margin-right: 10px;
    }

    .suggestionBtn {
        border-radius: 30px;
        border: 1px solid black;
        // height: 10px;
        font-size: 10px;
        margin-right: 5px;
        background-color: white;
    }
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBtn {
    @include button;
}

.formsWrapper {
    display: flex;
    flex-direction: row;

    .checkboxWrapper {
        margin-right: 10px;
        margin-bottom: 5px;
        .checkbox {
        }

        .checkboxLabel {
            margin-left: 3px;
        }
    }
}

.searchTitle {
    font-size: 18px;
}

.searchInput {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 8px 0 8px;
    padding-left: 15px;
}

.searchResults {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .loadingContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .videoResult {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;

        .imgWrapper {
            width: 100%;
            height: 195px;
            position: relative;

            .liveIndicator {
                position: absolute;
                bottom: 5px;
                right: 10px;
                color: red;
                font-weight: bold;
            }

            .thumbnail {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .textWrapper {
            padding: 10px;
            display: flex;
            flex-direction: column;
            .title {
                font-weight: bold;
            }

            .channel {
                font-size: 12px;
            }
        }
    }
}
