.search {
  z-index: 2;
}

.images {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  left: 4px;
}

.searchTitle {
  font-size: 18px;
}

.searchInput {
  // width: 73%;
  height: 40px;
  border-radius: 5px;
  padding: 0 15px 0 15px;
}

.searchRow {
  display: flex;
  flex-direction: row;
}

.changeBG {
  width: 100%;
}

.searchBtn {
  position: relative;
  height: 38px;
  width: 80px;
  border-radius: 5px;
  background: #efefef;
  border: none;
  margin-left: 10px;
  font-size: 15px;
  border: 0.1px solid rgb(168, 168, 168);
  transition: 0.3s ease-in-out;
  &:hover {
    background: #dddddd;
  }
}
