.page {
  position: relative;
  left: 8px;
  width: 90%;
  color: white;
  &:hover {
    cursor: pointer;
  }
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background: #efefef;
}
